<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Contoh Layout dengan Elemen Semantik</title> 
	</head> 
<body style="background-color: silver;">
		<header style="background-color: white;">
			<h1>Belajar Elemen Semantik di HTML</h1> 
		<header> 
	<nav> 
		<a href="a">Home</a>
		<a href="a">About</a> 
		<a href="a">Contact</a> 
	</nav> 
	<article style="background-color: white;">
		<h1> Turtorial Semantik Elemen Untuk Pemula</h1> 
		<p> Semantik elemn adalah elemen yang memiliki makna dan tujua.
			Tujuannya agar kode HTML mudah dibaca dan tidak ada penyalahguanaan tag. 
			ELemen semantik bagus untuk SEO dan juga daapat menungkatkan accessbility.
		</p> 
	</article> 
	<footer style="background-color: whjite;"> 
		Copyright &copy: 2020 by Pemrogaman Web Kode 
	</footer> 
</body> 
</html>